<div>
{% for block in section.blocks %}
  <h1>{{ block.settings.main-product }}</h1>
  {% assign prodcut = block.settings.main-product %}
  <h2>{{ prodcut.featured_image }}</h2>
  <img src="{{ prodcut.featured_image | img_url: 'master' }}">
  
{% endfor %}
</div>

{% schema %}
  {
    "name": "Pick Products",
    "settings": [],
    "blocks": [
      {
        "type": "product",
        "name": "product",
        "settings": [
            {
              "type": "product",
              "id": "main-product",
              "label": "Select the Product"
            },
          {
            "type": "text",
            "id": "product-number",
            "label": "Enter the Product number"
          }
        ]
      }
    ]
  }
{% endschema %}
